body {
  background-image: url("https://media.istockphoto.com/id/888845986/photo/colorful-clouds-on-dramatic-sunset-sky.jpg?s=612x612&w=0&k=20&c=-TQcqD-dRdCwCy7h2zR4LyOYRGrBsjcCtWF2uYtMY0o=");
  background-repeat: none;
  background-size: cover;
}

.container {
  background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border-radius: 15px;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #fddbfd;
  padding: 30px;
  opacity: 80%;
}

main {
  padding: 30px 0;
}

footer {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px 0 0 0;
  font-family: monospace;
  font-size: 13px;
  border-top: 1px solid #fddbfd;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: rgb(241, 70, 213);
}

.search-input {
  background-color: beige;
  font-size: 18px;
  font-family: monospace;
  width: 70%;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
}

.search-button {
  background-color: rgb(241, 70, 213);
  font-size: 20px;
  border-radius: 10px;
  padding: 15px 30px;
  margin-left: 5px;
  color: white;
  border: none;
  font-size: 16px;
  font-family: monospace;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-family: monospace;
}

.details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: monospace;
}

.humidity {
  color: rgb(211, 20, 163);
  font-weight: bold;
}

.wind {
  color: rgb(206, 37, 164);
  font-weight: bold;
}

.current-temperature-container {
  display: flex;
}

.current-temperature-icon {
  font-size: 44px;
  margin-top: 4px;
}
.current-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  font-family: monospace;
}
.weather-units {
  margin-top: 20px;
  font-size: 28px;
  font-family: monospace;
}
.weather-forecast {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
  display: block;
  justify-content: space-between;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
